:root {
    --header-bg-color: rgba(30,30,30,255);
    --main-bg-color: rgba(37,37,38,255);
  }

  *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }

  main .container {
    background-color: var(--header-bg-color);
    color: white;
    padding: 2%;
    margin: 0;
    min-width: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .container article{
    padding: 0 12%;
  }

  main .container h1 {
    text-align: center;
    margin: 2vh;
  }

  main .container h3 {
    text-align: center;
    margin: 1vh;
  }

  #bienvenida {
    color: white;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    width: 100vw;
  }

  main .container #carouselAlumnos img {
    height: 80vh;
    margin: 0;
  }

  main .container>img {
    border-radius: 20px;
    border: solid white 2px;
    height: 60vh;
    margin: 5%;
  }

  header {
    background-color: var(--header-bg-color);
    /* Con animación gradiente
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  }

  header img {
    width: 100%;
  }

  main nav {
    background-color: var(--header-bg-color);
    position: sticky;
    top: 0;
    z-index: 2;
  }

  main nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
  main nav ul li {
    list-style: none;
    margin: 0 2%;
    padding: 2%;
  }

  main nav ul li a {
    padding: 15px;
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(250, 166, 56);
    
  }

  main nav ul li a:hover {
    color: whitesmoke;
  }

  .navbar {
    background-color: var(--header-bg-color);
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .navbar ul li {
    list-style: none;
    margin: 0 2%;
    padding: 2%;
  }

  .navbar ul li a {
    padding: 15px;
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(250, 166, 56);
  }

  .navbar ul li a:hover {
    color: whitesmoke;
  }

 .navbar-toggler {
    background-color: rgb(250, 166, 56);
  }
  
  main .container .info-profes article>img {
    border-radius: 50%;
    border: solid white 2px;
    height: 20vh;
    position: relative;
    top: -3vh;
    left: 10vh;
    margin: 0;
  }

  main .container .info-profes .profe {
    display: flex;
    width: 95%;
    text-align: left;
    background-color: rgb(61, 59, 59);
    border-radius: 10px;
    padding: 20px 30px 20px 12vh;
    box-shadow: 5px 8px 19px 2px rgba(105,86,86,0.75);
  }

  main .container .info-profes .profe div{
    width: 50%;
  }

  main .container .info-profes article {
    display: flex;
    padding-top: 10vh;
  }

  /* Cursos */
  main .container .info-profes .profe div {
    text-align: center;
  }

  main .container .info-profes .profe div p{
    text-align: justify;
    padding: 10%;
    font-size: 20px;
  }

  main .container .info-profes .profe div .button{
    text-align: justify;
    padding: 10%;
    font-size: 20px;
  }

  main .container .info-profes .profe div a{
    text-decoration: none;
  }

  /* Formulario de contacto */
  #formulario {
    border: solid;
    border-radius: 10px;
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;;
  }

  main .container .formulario .datos {
    margin-top: 20px;
    background: #24303c;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius:  4px;
    border: 1px solid #1f53c5;
  }

  main .container .formulario p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    margin-top: 2%;
  }

  main .container .formulario .imagen {
    position: flex;
  }

  .boton_enviar {
    width: 100%;
    background: #1f53c5;
    color: white;
    border: none;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
    border-radius:  4px;
  }

  /* Galeria */
  #galeria {
    width: 100%;
    padding-top: 5px;
    margin: 2%;
    display: table;
  }

  #mapa {
    background-color: var(--main-bg-color);
    width: 100%;
  }

  /* Footer */
  footer {
    background-color: var(--header-bg-color);
    color: white;
    padding: 2%;

    /* Con opción de transición
    background: rgba(37,37,38,255);
    background: linear-gradient(90deg, rgba(37,37,38,255) 86%, rgba(227,226,233,0.9640231092436975) 100%, rgba(236,248,250,1) 100%); */
  }

  footer p {
    text-align: center;
    align-content: center;
    justify-content: space-between;
    margin: 2%;
  }

  #redes a{
    text-decoration: none;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: #2c3e50;
    color: white;
    margin: 2%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }

  #redes .icon_facebook:hover {
    background: #1f53c5;
  }

  #redes .icon_instagram:hover {
    background: #e1306c;
    color: black;
  }

  #redes .icon_pinterest:hover {
    background: red;
  }

  #redes .icon_twitter:hover {
    background: #46C1F6;
  }

  #redes .icon_youtube:hover {
    background: red;
    color: black;
  }

  #redes a:hover i {
    transform: rotate(25deg);
    font-size: 24px;
  }

  /* Botón WhatsApp */
  .wpp-fixed {
    color: white;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    position: fixed;
    bottom: 1em;
    right: 1em; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wpp-fixed i {
    color: #30b444;
  }

  .wpp-fixed i:hover {
    color: white;
  }

  @keyframes moverBoton {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1.1, 1.1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  .wpp-fixed:hover {
    /* transform: scale(1.2, 1.2); */
    animation-name: moverBoton;
    animation-duration: 3s;
    animation-delay: 0.3;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .grid-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }

  .grid-container img{
    border: solid 1px whitesmoke;
    margin: 12px;
    border-radius: 15px;
    width: 90%;
    height: 90%;
  }

  main .container .info-profes article .carrusel{
    display: none;
    width: 70vw;
    height: 45vh;
    margin-bottom: 10vh;
    padding: 5vw;
  }

  @media screen and (max-width: 991px){

    main .container .info-profes .profe{
      flex-wrap: wrap;
    }
    main .container .info-profes .profe div{
      width: 100%;
    }
    main .container .info-profes .profe div p{
      text-align: center;
    }
    main .container .info-profes article .grid-container{
      display: none;
    }
    main .container .info-profes article .carrusel{
      display: inline;
      margin: 0;
      /* margin-left: -1vw; */
      padding: 10px;
      height: fit-content;
      width: 110%;
    }
  }

  @media screen and (min-width: 992px) and (max-width: 1500px) {
    main .container .info-profes article {
      padding-top: 0;
      flex-direction: column;
      align-items: center;
    }
    main .container .info-profes article img {
      top: 3vh;
      left: 0;
    }
    main .container .info-profes .profe {
      padding: 20px;
    }
  }

  @media screen and (max-width: 767px) {

    main .container .info-profes article {
      padding-top: 0;
      flex-direction: column;
      align-items: center;
    }
    main .container .info-profes article img {
      top: 3vh;
      left: 0;
    }
    main .container .info-profes .profe {
      padding: 20px;
    }
  }


  /*
  @media screen and (min-width: 320px) and (max-width: 767px){
    .container-grid {
      grid-template-columns: 100%;
      grid-template-rows: 5em 36em 20em 25em 7em;
      grid-template-areas:
        "menu"
        "contenido"
        "seccion"
        "publicidad"
        "pie pie pie";
    }
  }

  @media screen and (min-width: 768px){
    .container-grid {
      grid-template-columns: repeat (2, 1fr);
      grid-template-rows: 5em 36em 20em 7em;
      grid-template-areas:
        "menu"
        "contenido"
        "seccion"
        "publicidad"
        "pie pie pie";
    }
  }

  @media screen and (min-width: 1024px){
    .container-grid {
      display: grid;
      grid-template-columns: repeat (3, 1fr);
      grid-template-rows: 5em 36em 10em 7em;
      grid-template-areas:
        "menu menu menu"
        "contenido contenido publicidad"
        "seccion none publicidad"
        "pie pie pie";
    }
  }
  
  
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-area: 
    "box-1 box-1 box-1 box-1"
    "box-2 box-2 box-3 box-3"
    "box-4 box-4 box-4 box-4"
    "box-5 box-5 box-6 box-6"
    "box-5 box-5 box-6 box-6";
  }

  .box-1 {
    background-color: rgb(230, 182, 230);
    grid-area: box-1;
  }

  .box-2 {
    background-color: rgb(130, 182, 250);
    grid-area: box-2;
  }

  .box-3 {
    background-color: rgb(150, 202, 100);
    grid-area: box-3;
  }

  .box-4 {
    background-color: rgb(230, 182, 230);
    grid-area: box-4;
  }

  .box-5 {
    background-color: rgb(255, 100, 130);
    grid-area: box-5;
  }

  .box-6 {
    background-color: rgb(130, 222, 255);
    grid-area: box-6;
  }

  Media Queries para Bootstrap
  @media (max-width: 768px){

    .container{ 
      grid-template-columns: repeat (3, 1fr);
      grid-template-areas:
      "box-1 box-1 box-1"
      "box-2 box-2 box-3"
      "box-4 box-4 box-3"
      "box-5 box-5 box-5"
      "box-6 box-6 box-6";
    }
  }
*/

