<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <link rel="shortcut icon" href="./images/favicon.ico">
    <script src="https://kit.fontawesome.com/e968cd04a2.js" crossorigin="anonymous"></script>
    <title>Galeria</title>
  </head>
  <body>
    
    <header class="bg">
      <img src="../img/BannerHome.jpg" alt="BannerHome">
      <nav class="navbar navbar-expand-lg">
          <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
             aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/index.html">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="../views/cursos.html">Cursos</a></li>
                  <li class="nav-item"><a class="nav-link" href="../views/profesores.html">Profesores</a></li>
                  <li class="nav-item"><a class="nav-link" href="../views/galeria.html">Galeria/info</a></li>
                  <li class="nav-item"><a class="nav-link" href="../views/contacto.html">Contacto</a></li>
              </ul>
            </div>
          </div>
      </nav>
  </header>

    <main class="bg">

      <div class="container">
        <p>
          <hr>
          <h1>Conocé el trabajo</h1>
          <h3>-de nuestros alumnos-</h3>
          <hr>
        </p>

        <div id="carouselAlumnos" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselAlumnos" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselAlumnos" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselAlumnos" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../img/Hulk_Adry.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Hulk</h5>
                <p>En plasticera</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../img/Predator_Adry.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Depredador</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../img/Conan_Adry.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Conan</h5>
              </div>
            </div>
          </div>
          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselAlumnos" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselAlumnos" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button> -->
        </div>
      </div>  

      <div>
        <div class="container">
          <h1>¿En donde?</h1>
          <h6>Faltan muchos datos</h6>         
        </div>
        
        <div class="container">
            <iframe id="mapa" class="iframe" src="https://maps.google.com/?ll=34.661927539984646,132.3427061774843&z=14&t=m&output=embed" height="400" width="50" 
            frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>

    </main>

    <div class="wpp-fixed">
      <a
        href="https://wa.me/?text=Quiero%20recibir%20información"
        target="_blank"
      >
        <i class="fa-brands fa-whatsapp fa-3x"></i>
      </a>
    </div>

    <footer class="bg">
      <nav>
          <p>Seguinos en nuestras redes sociales</p>
          <div id="redes">
              <p>
                  <a href="https://www.facebook.com" target="_blank" class="icon_facebook">
                     <i class="fa-brands fa-facebook-f"></i>
                  </a>

                 <a href="https://www.instagram.com" target="_blank" class="icon_instagram">
                     <i class="fa-brands fa-instagram"></i>
                 </a>
                 
                 <a href="https://www.pinterest.com" target="_blank" class="icon_pinterest">
                     <i class="fa-brands fa-pinterest-p"></i>
                 </a>

                 <a href="https://www.youtube.com" target="_blank" class="icon_youtube">
                  <i class="fa-brands fa-youtube"></i>
                 </a>

                 <a href="https://www.twitter.com" target="_blank" class="icon_twitter">
                 <i class="fa-brands fa-twitter"></i>
                  </a>
                 </p>
          </div>
      </nav>
      <p>Copyright - 2022</p>
  </footer>

    <script src="https://kit.fontawesome.com/e968cd04a2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  
  </body>
</html>
