<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">
    <link rel="shortcut icon" href="./images/favicon.ico">
    <script src="https://kit.fontawesome.com/e968cd04a2.js" crossorigin="anonymous"></script>
    <title>Profesores</title>
</head>
<body>
    <header>
        <img src="../img/BannerHome.jpg" alt="BannerHome">
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="./cursos.html">Cursos</a></li>
                <li><a href="./profesores.html">Profesores</a></li>
                <li><a href="./galeria.html">Galeria/info</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>

        <div class="container">
            <section class="info-profes">
                <article>
                    <img src="../img/Juan_Riera.jpg" alt="Juan_Riera">
                    <div class="profe">
                        <h3>Juan Riera</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non nobis minima maxime illo harum nihil blanditiis sint dolorum vitae nisi?</p>
                        <button type="button" class="btn btn-md btn-outline-dark"><a href="./contacto.html">Anotate</a></button>
                    </div>
                </article>
                <article>
                    <img src="../img/Diego_Rudi.jpg" alt="Diego_Rudi">
                    <div class="profe">
                        <h3>Diego Rudi</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non nobis minima maxime illo harum nihil blanditiis sint dolorum vitae nisi?</p>
                        <button type="button" class="btn btn-md btn-outline-dark"><a href="./contacto.html">Anotate</a></button>
                    </div>
                </article>
                <article>
                    <img src="../img/Cristian_Crovato.jpg" alt="Cristian_Crovato">
                    <div class="profe">
                        <h3>Cristian Crovato</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non nobis minima maxime illo harum nihil blanditiis sint dolorum vitae nisi?</p>
                        <button type="button" class="btn btn-md btn-outline-dark"><a href="./contacto.html">Anotate</a></button>
                    </div>
                </article>
            </section>
        </div>
    </main>

    <div class="wpp-fixed">
        <a href="https://wa.me/?text=Quiero%20recibir%20información" target="_blank">
            <i class="fa-brands fa-whatsapp fa-3x"></i>
        </a>
    </div>

    <footer>
        <nav>
            <p>Seguinos en nuestras redes sociales</p>
            <div id="redes">
                <p>
                    <a href="https://www.facebook.com" target="_blank" class="icon_facebook">
                       <i class="fa-brands fa-facebook-f"></i>
                    </a>

                   <a href="https://www.instagram.com" target="_blank" class="icon_instagram">
                       <i class="fa-brands fa-instagram"></i>
                   </a>
                   
                   <a href="https://www.pinterest.com" target="_blank" class="icon_pinterest">
                       <i class="fa-brands fa-pinterest-p"></i>
                   </a>

                   <a href="https://www.youtube.com" target="_blank" class="icon_youtube">
                    <i class="fa-brands fa-youtube"></i>
                   </a>

                   <a href="https://www.twitter.com" target="_blank" class="icon_twitter">
                   <i class="fa-brands fa-twitter"></i>
                    </a>
                   </p>
            </div>
        </nav>
        <p>Copyright - 2022</p>
    </footer>

    <script src="https://kit.fontawesome.com/e968cd04a2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>
</html>